*{
	margin:0 auto;
	padding:0;
	font-size:100%;
	font-family:'Comfortaa Regular';
	box-sizing:border-box;
	vertical-align:baseline;
	
}
@font-face{
	font-family:'Comfortaa Regular';
	src:url('fonts/Comfortaa.ttf');
}
::selection{
	color:white;
	background-color:grey;
}
header > h2{
	text-align:center;
	font-size:30px;
	color:#F7F21A;
	letter-spacing:2px;
	text-shadow:0px 2px 4px #999;
	background-color:LightSkyBlue
}
ul.nav{
	margin-left:0px;
	padding-left:0px;
	list-style:none;
}
.nav li{
	float:left;
	width:33.33%;
	background-color:green;
	border:1px solid grey;
	text-align:center;
	height:3em
}
ul.nav a{
	display:block;
	color:black;
	padding-top:0.5em;
	height:100%;
	text-decoration:none;
	font-size:20px;
	transition-property:all;
	transition-duration:300ms;
	transition-timing-function:ease-in-out;
}
ul.nav a:link{color:blue}
ul.nav a:visited{color:black}
ul.nav a:hover{color:grey;font-size:23px;padding-top:0.4em;}
ul.nav a:active{color:#D3D3D3}
main{
	background-color:#DCDCDC;
	height:500px;
	clear:both;
}
footer{
	background-color:#C0C0C0;
	clear:both;
}
footer > div{
	font-size:15px;

}





